<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>404 - Page Not Found</title>
<meta name="description" content="Custom error page | 404 - Page Not Found" />
<meta name="keywords" content="Page Not Found, This page have been moved, Please go to the homepage, www.creativecolorschemes.com" />
<meta name="robots" content="noindex">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/central/styles/ccs.css" rel="stylesheet" type="text/css" />

</head>
<body>
<!-- set page layout --> 
<div id="layout">
<div id="p1">
<!-- start header area -->

<?xml version="1.0" encoding="windows-874"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Creative Color Schemes Header Navigation Include</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="/ccsFavicon.ico" />

<style type="text/css">
td img {display: block;}
td img {display: block;}
td img {display: block;}
td img {display: block;}


</style>
<!-- Fireworks MX Dreamweaver MX target.  Created Mon Sep 15 02:07:46 GMT+0700 (SE Asia Standard Time) 2003-->
<script language="JavaScript1.2" type="text/javascript">

function MM_preloadImages() { //v3.0
 var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
   var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
   if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}

</script>
<link href="/central/styles/ccs.css" rel="stylesheet" type="text/css" />
<link href="/list/NL-style.css" rel="stylesheet" type="text/css">

<link rel="shortcut icon" href="/favicon.ico" />

</head>


<body bgcolor="#ffffff">
<div id="layout">
<table width="1004" border="0" cellspacing="0" cellpadding="0">
  <tr>
  
    <td width="258" rowspan="2" valign="bottom"><a href="/index.shtml"><img src="/central/images/ccslogo.gif" width="358" height="115" alt="creative color schemes home" /></a></td>
    <td height="93" align="right" valign="bottom"><table width="100" border="0" cellspacing="0" cellpadding="0">
      <tr>
      
        <td><a href="/order.shtml"><img src="/central/images/buyNowBallon.gif" alt="Buy Now!" width="60" height="65" hspace="20" /></a></td>
        
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="right" valign="bottom">    <div id="globalNav"> 
<div id="globalLink"> 
  <a href="/index.shtml" class="glink1">HOME</a>
    <a href="/products.shtml" class="glink4">PRODUCTS</a>
   <a href="/products/previews/productPreviews.shtml" class="glink7">PREVIEWS</a>
  <a href="/support.shtml" class="glink5">SUPPORT</a>
  <a href="/color.shtml" class="glink2">COLOR</a>
  <a href="/resources.shtml" class="glink3">RESOURCES</a>
 <!--  <a href="/forum/index.php" target="_blank" class="glink8">FORUM</a> -->
  <a href="/order.shtml" class="glink6">ORDER</a>
  
</div></td>
  </tr>
</table>
</div> 


<!-- end header area --> 

<div id="pagecell1">

  <div id="content">
  <table width="100%" border="0" cellspacing="8" cellpadding="0">
    <tr>
      <td colspan="2"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Creative Color Schemes Highlight Include</title></head>

<body>
<a href="/products.shtml"><img src="/central/images/highlight.gif" alt="creative color schemes ebook and paperback" width="970" height="150" border="0" /></a>
</body>
</html>
</td>
      </tr>
    <tr>
      <td colspan="2"><a href="index.shtml"><img src="central/images/titleHome.gif" width="970" height="40" alt="Go to home page" /></a></td>
      </tr>
    <tr>
      <td width="50%" valign="top"><h1>Your requested page <br />
   www.creativecolorschemes.com/list/NL-style.css 
        <br />
         has been moved.</h1>
        <p> Please go to our home page to get start.<br />
          <a href="index.shtml">www.creativecolorschemes.com</a></p></td>
      <td width="50%" valign="top"><h2>Free 
        color schemes, <br />
        color combinations, <br />
        and color palettes<br />
        </h2>
  <p>29 color schemes from the <strong>Creative Color Schemes ebook</strong> are <strong>free </strong>for you. <a href="/resources/free-color-schemes.shtml" title="Free color schemes">Get them now!</a></p></td>
    </tr>
    </table>
  </div>


 <!-- end footer area -->
   </div> <!-- end pagecell1 --> 
 <title>Creative Color Schemes Footer Navigation Include</title><table width="100%" border="0" cellspacing="5" cellpadding="0">
  <tr>
    <td>
    <div id="globalLinkBottom"> 
      <a href="/index.shtml" class="glink1">HOME</a>
  <a href="/products.shtml" class="glink4">PRODUCTS</a>
    <a href="/products/previews/productPreviews.shtml" class="glink7">PREVIEWS</a>
  <a href="/support.shtml" class="glink5">SUPPORT</a>
    <a href="/color.shtml" class="glink2">COLOR</a>
  <a href="/resources.shtml" class="glink3">RESOURCES</a>
 <!--    <a href="/forum/index.php" target="_blank" class="glink8">FORUM</a> -->
  <a href="/order.shtml" class="glink6">ORDER</a>
    </div></td>
    <td align="right"><div id="siteInfo"> Copyright 2011 &copy; Creativecolorschemes.com </div></td>
  </tr>
</table>
  </div>   <!-- end home --> 
</div> <!-- end page layout --> 

<!-- Analytic code --> 
<title>Google Analytic</title><!--original from analytic

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1248480-7");
pageTracker._trackPageview();
} catch(err) {}</script>

--> 

<!-- e-junkie version --> 

<script type="text/javascript">
var gaJsHost=(("https:"==document.location.protocol)?"https://ssl.":"http://www.");
document.write(unescape("%3Cscript src='"+gaJsHost+
  "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var ejGATracker = _gat._getTracker("UA-1248480-7");
ejGATracker._setDomainName("none");
ejGATracker._setAllowLinker(true);
ejGATracker._trackPageview();
</script>

</body>
</html>
